*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, label, p{
    color: white;
    margin: 5px;
}

h4 {
    color: #c0faff;
}

.section-LVL{
    width: 100%;
    background-color: #080d11;
    padding-top: 50px;
    padding-bottom: 50px;
}

.mechanics{
    width: calc(100vw - 300px);
    margin-left: 300px;
}

.basics_text-LVL{
    margin: 0 auto;
    width: 700px;
}

.section-GoldBountie{
    background-color: #05080a;
    padding-top: 50px;
    padding-bottom: 50px;
}

.basics_text-GoldBountie{
    margin: 0 auto;
    width: 700px;
}

.section-experience{
    background-color: #080d11;
    padding-top: 50px;
    padding-bottom: 50px;
}

.basics_text-experience{
    margin: 0 auto;
    width: 700px;
}

.section-lastHitsAndDenying{
    background-color: #05080a;
    padding-top: 50px;
    padding-bottom: 50px;
}

.basics_text-lastHitsAndDenying{
    margin: 0 auto;
    width: 700px;
}

.section-damage{
    background-color: #080d11;
    padding-top: 50px;
    padding-bottom: 50px;
}

.table-damage{
    margin: 0 auto;
    width: 700px;
}

.damage{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    border-bottom: 1px solid;
    border-color: white;
}

.table-damage-p{
    width: 500px;
}

.section-death{
    background-color: #05080a;
    padding-top: 50px;
    padding-bottom: 50px;
}

.basics_text-death{
    width: 700px;
    margin: 0 auto;
}

.section-atribut{
    background-color: #080d11;
    padding-top: 50px;
    padding-bottom: 50px;
}

.basics_text-atribut{
    width: 700px;
    margin: 0 auto;
}

.mana-health h3{
    margin-top: 10px;
    text-align: center;
}

.mana-health {
    margin-bottom: 30px;
}

.atribut{
    width: 550px;
    margin: 0 auto;
}

.table{
    align-items: center;
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid;
    border-color: white;
}

.table p {
    max-width: 300px;
}

.table-atribut h3{
    text-align: center;
    margin-bottom: 30px;
}

.table-atribut{
    margin-bottom: 30px;
}

.table-mobile h3{
    text-align: center;
}

.table-mobile{
    margin-bottom: 30px;
}

.table-attacks h3{
    text-align: center;
}

.table-attacks{
    margin-bottom: 30px;
}

.table-protection h3{
    text-align: center;
}

.section-spells{
    background-color: #05080a;
    padding-top: 50px;
    padding-bottom: 50px;
}

.basics-table-spells{
    width: 700px;
    margin: 0 auto;
}

.table{
    width: 550px;
    margin: 0 auto;
}

.section-status_effects{
    background-color: #080d11;
    padding-top: 50px;
    padding-bottom: 50px;
}

.basics-table-status_effects{
    width: 700px;
    margin: 0 auto;
}